<!-- Footer-->
<style>
	.drew{

	}
</style>
<footer class="py-5 bg-dark footer drew">
	<div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; PLOOM, Drew Spooner & Chris Plummer</p></div>
</footer>
