<!DOCTYPE html>
<html lang="en">
	<!-- Header -->
	<%- include('partials/header') %>
	
    <body id="page-top">

        <script>
            
            getData();

            async function getData(){
                const newRes = await fetch('/2019data');
                const csvTxt = await newRes.text();
                console.log(csvTxt);
            }
        </script>

        <!-- Navigation -->
		<%- include('partials/nav') %>

        <!-- Header -->
        <header class="bg-primary-nfl bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder"> Fantasy Statbook </h1>
                <p class="lead">Visualization of Fantasy Football Stats</p>
            </div>
        </header>

        <!-- Matchup Testing -->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Player Matchup</h2>
                    </div>
                </div>
            </div>
        </section>

        <!-- Test Section -->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Player Matchup</h2>
                        <div id="container" style="width: 800px; height: 400px;"></div>
                        <script>
                            var playerData = JSON.parse('<%- JSON.stringify(playerData) %>');
                            if(playerData){
                                //console.log(playerData[0]);
                                anychart.onDocumentReady(function() {
                                    var p1;
                                    for (var i=0; i < playerData.length ; i++)
                                    {
                                        if (playerData[i].player == 'Player 2') {
                                            p1 = playerData[i];
                                            break;
                                        }
                                    }
                                    var p2 = playerData[2];
                                    // create data
                                    var data = anychart.data.set([
                                        ["Games", p1.yr16, p2.yr16],
                                        ["Comp", p1.yr17, p2.yr17],
                                        ["Int", p1.yr18, p2.yr18],
                                        ["Yds", p1.yr19, p2.yr19],
                                        ["Tgt", p1.yr20, p2.yr20],
                                        ["Rec", p1.yr21, p2.yr21],
                                        ["Y/R", p1.yr21, p2.yr21],
                                        ["Fumbles", p1.yr21, p2.yr21]
                                    ]);

                                    // map the data
                                    var playerData1 = data.mapAs({x: 0, value: 1, fill: 3, stroke: 5, label: 6});
                                    var playerData2 = data.mapAs({x: 0, value: 2, fill: 4, stroke: 5, label: 6});

                                    // create a chart
                                    chart = anychart.column();

                                    // create series and set the data
                                    var series1 = chart.column(playerData1);
                                    var series2 = chart.column(playerData2);

                                    chart.barGroupsPadding(1);

                                    // Set width bound
                                    chart.width('100%');

                                    // Rename the series to player names
                                    chart.getSeriesAt(0).name(p1.player);
                                    chart.getSeriesAt(1).name(p2.player);

                                    chart.tooltip().format("{%seriesName}: {%value}")

                                    // set the container id
                                    chart.container("container");

                                    // initiate drawing the chart
                                    chart.draw();
                                });
                            }
                        </script>
                        <!-- Row for buttons and stuff -->
                        <!--
                        <div class="row">
                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      Year
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li><a class="dropdown-item">Action</a></li>
                                      <li><a class="dropdown-item">Another action</a></li>
                                      <li><a class="dropdown-item">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <label>Year: <input list="browsers" name="myBrowser" /></label>
                        <datalist id="browsers">
                            <option value="Chrome">
                            <option value="Firefox">
                            <option value="Internet Explorer">
                            <option value="Opera">
                            <option value="Safari">
                            <option value="Microsoft Edge">
                        </datalist> 
                        -->
                    </div>
                </div>
                <form>
                    <label for="years">Choose Year: </label>
                    <select id="years" name="years">
                        <option>2018</option>
                        <option>2019</option>
                    </select>
                    <input type="submit">
                </form>
            </div>
        </section>

        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About this project:</h2>
                        <p class="lead">This project was made for Dr. Shipman's class at Texas A&M University about Data Visualization.</p>
                    </div>
                </div>
            </div>
        </section>
		
        <!-- Footer -->
        <%- include('partials/footer') %>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->

        <!-- Core theme JS-->
        <script src="/scripts/scripts.js"></script>
    </body>
</html>